body {
  background-image: url('../images/cat-background.jpg');
  background-repeat: no-repeat;
  background-position: initial;

  color: #fafafa;
}

.is-hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.breed-select {
  position: absolute;
  right: 15%;
  top: 7%;
  width: 300px;
  color: #fafafa;
  background-color: #252525;
}

.ss-content .ss-list .ss-option {
  color: #fafafa90;
}

.ss-content .ss-list .ss-option:hover,
.ss-content .ss-list .ss-option:focus,
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: #252525;
  background-color: #fafafa;
}

.cat-info {
  margin: 40px 100px;
  padding: 10px;
  border: 3px solid #fafafa;
  max-width: 600px;
  box-shadow: 10px 10px 14px 0px #fafafa;
}

.cat-img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.cat-description span,
.cat-temperament span {
  font-style: italic;
  font-weight: 700;
}

/* Loader */
.loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 20px -5px rgba(255, 255, 255, 0.5),
    inset 0 -40px 40px -20px rgba(255, 255, 255, 0.5);
  background: linear-gradient(#ff3d00 120px, transparent 0) no-repeat;
  background-position: 0px 120px;
  animation: fillLq 500ms linear infinite alternate;
}
.loader:before {
  position: absolute;
  content: '';
  width: 40%;
  height: 25%;
  top: 20px;
  left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: rotate(-45deg);
}

@keyframes fillLq {
  0%,
  10% {
    background-position: 0 120px;
  }
  90%,
  100% {
    background-position: 0 0;
  }
}
